<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>대시보드</title>
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<div class="dashboard-container">
		<!-- 1열 -->
		<div class="column column-left">
			<div class="dashboard-widget">
				<!-- 위치, 날짜, 날씨, 미세먼지 -->
				<br><br><br>
				<p id="currentDate"></p>
				<br><br><br>
				<span id="locationPin">🚩</span>
				<p id="cityName"></p>
				<br><br><br>
				<p id="weather"></p>
				<p id="temperature"></p>
				<br><br><br>
				<h2 class="head2">미세먼지</h2>
				<p id="airQuality"></p>
				<br><br><br>
			</div>
		</div>

		<!-- 2열 -->
		<div class="column column-middle">
			<div class="dashboard-widget notices-widget">
				<h2 class="head2">최신 공지사항</h2>
				<ul id="notices">
					<li>공지사항 1</li>
					<li>공지사항 2</li>
					<li>공지사항 3</li>
				</ul>
			</div>
			<div class="dashboard-widget maintenance-schedule-widget">
				<h2 class="head2">유지보수 스케줄</h2>
				<ul id="maintenance-schedule">
					<li>유지보수 일정 1</li>
					<li>유지보수 일정 2</li>
				</ul>
			</div>
			<div class="dashboard-widget messages-widget">
				<h2 class="head2">최신 메시지</h2>
				<ul id="messages">
					<li>메시지 1</li>
					<li>메시지 2</li>
				</ul>
			</div>
			<div class="dashboard-widget vehicle-reservation-widget">
				<h2 class="head2">차량 방문 예약 현황</h2>
				<p id="vehicleReservationCount">예약된 차량 수: 5</p>
				<button class="action-button"
					onclick="window.location.href='/vehicle/reservations';">상세보기</button>
			</div>
		</div>
		<!-- 3열 -->
		<div class="column column-right">
			<div class="dashboard-widget button-widget">
				<button id="goNotices" class="action-button">공지사항</button>
			</div>
			<div class="dashboard-widget button-widget">
				<button id="goMaintenance" class="action-button">유지보수 스케줄</button>
			</div>
			<div class="dashboard-widget button-widget">
				<button id="goMessages" class="action-button">메시지함</button>
			</div>
			<div class="dashboard-widget button-widget">
				<button id="goParking" class="action-button">주차관제</button>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/dashboard.js"></script>
</body>
</html>
