<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>대시보드</title>
<link rel="stylesheet" href="/css/dashboard.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/css2?family=SUIT&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="dashboard-container">
		<!-- 1열 -->
		<div class="column column-left">
			<div class="dashboard-widget">
				<!-- 위치, 날짜, 날씨, 미세먼지 -->
				<br> <br> <br>
				<p id="currentDate"></p>
				<br> <br> <br>
				<div class="location">
					<span id="locationPin">🚩</span>
					<p id="cityName"></p>
				</div>
				<br> <br> <br>
				<p id="temperature"></p>
				<p id="weather"></p>
				<br> <br> <br>
				<h2 id="airQualityText">미세먼지</h2>
				<p id="airQuality"></p>
				<br> <br> <br>
			</div>
		</div>

		<!-- 2열 -->
		<div class="column column-middle">
			<div class="dashboard-widget notices-widget">
				<h2 class="head2">최신 공지사항</h2>
				<ul id="notices">
					<li th:each="notice : ${notices}"><span
						th:text="${notice.formattedCreatedAt}"></span><span class="title"
						th:text="${notice.title}"></span> <span class="content"
						th:text="${notice.content}" style="display: none;"></span></li>
					<li th:if="${notices.empty}"><span>현재 최신 공지사항이 없습니다.</span></li>

				</ul>
			</div>
			<div class="dashboard-widget maintenance-schedule-widget">
				<h2 class="head2">주요일정</h2>
				<ul id="maintenance-schedule">
					<li th:each="schedules : ${schedules}"><span
						th:text="${schedules.title}"></span></li>
					<li th:if="${schedules.empty}"><span>현재 주요일정이 없습니다.</span></li>
				</ul>
			</div>
			<div class="dashboard-widget repair-widget">
				<h2 class="head2">하자보수 신청이력</h2>
				<ul id="repair">
					<li th:each="repair : ${repair}"><span
						th:text="${repair.lastCategory}+'이 있는 '+${repair.middleCategory}+'의 '+${repair.majorCategory}+'를 신청'"></span></li>
					<li th:if="${repair.empty}"><span>현재 하자보수 신청이력 정보가
							없습니다.</span></li>
				</ul>
			</div>
			<div class="dashboard-widget parking-widget">
				<h2 class="head2">방문차량 예약현황</h2>
				<ul id="parking">
					<li th:each="reserve : ${reserve}"><span
						th:text="${reserve.carNumber}"></span></li>
					<li th:if="${reserve.empty}"><span>현재 방문차량 예약 현황이 없습니다.</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- 3열 -->
		<div class="column column-right">
			<div class="dashboard-widget button-widget">
				<button class="action-button"
					onclick="window.location.href='http://localhost:8080/notices'">공지사항</button>
				<button class="action-button"
					onclick="window.location.href='http://localhost:8080/schedule'">주요일정</button>
				<button class="action-button"
					onclick="window.location.href='http://localhost:8080/repair'">하자보수</button>
				<button class="action-button"
					onclick="window.location.href='http://localhost:8080/parking'">주차관제</button>
			</div>
		</div>
	</div>

	<div>
		<footer class="sticky-footer bg-white">
			<div class="container my-auto footer-container">
				<div class="copyright">
					<span>Hello! Your Family WallPad</span>
				</div>
				<button class="logout-button"
					onclick="window.location.href='/logout'">
					<i class="bi bi-box-arrow-right"></i> 로그아웃
				</button>
			</div>
		</footer>
	</div>




	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/dashboard.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



	<!-- 모달 HTML -->
	<div class="modal fade" id="contentModal" tabindex="-1"
		aria-labelledby="contentModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="contentModalLabel">공지사항 상세</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalContent">
					<!-- 클릭한 공지사항의 내용이 여기에 표시됩니다 -->
				</div>
			</div>
		</div>
	</div>


</body>
</html>
