<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 재설정</title>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="login-container">
		<div class="login-box">
			<h2>비밀번호 재설정</h2>
			<form action="/reset-password" method="post">
				<!-- 숨겨진 토큰 전달 -->
				<input type="hidden" name="token" th:value="${token}" />

				<div class="textbox">
					<input type="password" name="newPassword" placeholder="새 비밀번호"
						required />
				</div>

				<input type="submit" value="비밀번호 변경" class="btn-login" />

				<div class="signup-link">
					<p>
						<a href="/login">로그인으로 돌아가기</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
