<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wallpad.project.mapper.ApiMapper">

     <!-- 아이디 중복 체크 -->
    <select id="userNameCheck" resultType="int">
        SELECT COUNT(*) FROM users WHERE username = #{username}
    </select>

    <!-- 이메일 중복 체크 -->
    <select id="emailCheck" resultType="int">
        SELECT COUNT(*) FROM users WHERE email = #{email}
    </select>


	<insert id="saveUserData" parameterType="com.wallpad.project.dto.SignUpDTO">
		INSERT INTO users
			(
				username
				,password
				,name
				,gender
				,phone_num
				,email
			)
		VALUES
			(
				#{username}
				,#{password}
				,#{name}
				,#{gender}
				,#{phone_num}
				,#{email}
			)
	</insert>
	
	
	    <!-- 이메일 인증 상태 업데이트 -->
    <update id="updateEmailVerified" parameterType="String">
        UPDATE users
        SET email_verified = TRUE  
        WHERE email = #{email} 
    </update>




</mapper>