<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wallpad.project.mapper.ApiMapper">

	<!-- 아이디 중복 체크 -->
	<select id="userNameCheck" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE username = #{username}
	</select>

	<!-- 이메일 중복 체크 -->
	<select id="emailCheck" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE email = #{email}
	</select>


	<insert id="saveUserData"
		parameterType="com.wallpad.project.dto.SignUpDTO">
		INSERT INTO users
		(
		username
		,password
		,name
		,gender
		,phone_num
		,email
		)
		VALUES
		(
		#{username}
		,#{password}
		,#{name}
		,#{gender}
		,#{phone_num}
		,#{email}
		)
	</insert>


	<!-- 이메일 인증 상태 업데이트 -->
	<update id="updateEmailVerified" parameterType="String">
		UPDATE users
		SET
		email_verified = TRUE
		WHERE email = #{email}
	</update>

	<select id="findByUsername" parameterType="String"
		resultType="com.wallpad.project.dto.UserDTO">
		SELECT username, password, name, gender, phone_num, email
		FROM users
		WHERE username = #{username}
	</select>

	<select id="findAllNotices"
		resultType="com.wallpad.project.dto.NoticeDTO">
		SELECT id, title, content, createdAt, createdBy
		FROM notices
	</select>


	<select id="maintenanceSchedules"
		resultType="com.wallpad.project.dto.MaintenanceScheduleDTO">
		SELECT
		maintenance_date AS maintenanceDate,  
		start_time AS startTime,              
		end_time AS endTime,                
		title,
		description,
		status
		FROM maintenance_schedule
		WHERE maintenance_date >= CURDATE()
		ORDER BY maintenance_date ASC;
	</select>

</mapper>